.background_box {
    background: #F7FFE5;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background: #E1ECC8;
    width: 20%;
    height: auto;
    text-align: center;
    box-shadow: 8px 8px 24px 16px #C4D7B2;
    border-radius:10px;
    margin: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
    padding-bottom: 5px;
}

label {
    padding: 10px 0;
    font-size: 20px;
}

button[type="submit"] {
    width:200px;
    padding:20px;
    font-family: 'Nanum Gothic', sans-serif;
    border-radius:10px;
    background-color: #F7FFE5;
    font-size: 20px;
}

.register_conteiner {
    align-items: center;
    text-align: center;
    font-size: 20px;
    padding: 5% 0;
}
input {
    padding: 0.25em 0.5em;
    background-color: #F7FFE5;
    border-radius: 4px;
    resize: vertical;
    font-size: 20px;
    width: 60%;
    text-align: center;
}
.user_message {
    text-align: center;
    font-size: 20px;
}